<!-- <div style="display: flex; flex-direction: column; align-items: center; width: 100%; height: 100%; margin: 0; padding: 0;"> -->
<div style="width: 100%; height: 100%; margin: 0; padding: 0;" gdColumns="1fr">
  <!-------------------->
  <!-- Highlight Card -->
  <!-------------------->
  <mat-card>
    <mat-card-content style="display: flex; justify-content: center;">
      <h1>{{ title }} is running 💖</h1>
    </mat-card-content>
  </mat-card>
  <br>

  <mat-card style="display: grid; justify-content: center;">
    <mat-card-header>
      <mat-card-title>Superhero</mat-card-title>
      <mat-card-subtitle>Create a new hero</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <!---------->
      <!-- Form -->
      <!---------->
      <form [formGroup]="heroForm" (ngSubmit)="onSubmit(heroForm.value)">

        <!-- Name -->
        <mat-form-field>
          <mat-label for="name">
            Superhero name:
          </mat-label>
          <input matInput id="name" type="text" formControlName="name" placeholder="name">
        </mat-form-field>
        <br>

        <!-- Side -->
        <mat-form-field>
          <mat-label for="side">
            Choose side:
          </mat-label>
          <mat-select formControlName="side">
            <mat-option *ngFor="let displaySide of sides" [value]="displaySide.index">
              {{displaySide.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <!-- Hit Points -->
        <mat-form-field>
          <mat-label for="hitPoints">
            Hit points:
          </mat-label>
          <input matInput id="hitPoints" type="number" formControlName="hitPoints">
        </mat-form-field>
        <br>

        <!-- Attack -->
        <mat-form-field>
          <mat-label for="attack">
            Attack:
          </mat-label>
          <input matInput id="attack" type="number" formControlName="attack">
        </mat-form-field>
        <br>

        <!-- Special Ability -->
        <mat-form-field>
          <mat-label for="specialAbility">
            Special ability:
          </mat-label>
          <input matInput id="specialAbility" type="text" formControlName="specialAbility">
        </mat-form-field>
        <br>

        <!-- Submit -->
        <button mat-raised-button color="primary" type="submit">
          Create
        </button>

      </form>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <mat-list>
        <div mat-subheader>Known Heroes</div>
        <mat-list-item *ngFor="let hero of heroes$ | async">
          <div mat-line>
            {{hero.name}}
            &nbsp;&nbsp;&nbsp;&nbsp;
            {{sides[hero.side].value}}
            &nbsp;&nbsp;&nbsp;&nbsp;
            {{hero.hitPoints}}
            &nbsp;&nbsp;&nbsp;&nbsp;
            {{hero.attack}}
            &nbsp;&nbsp;&nbsp;&nbsp;
            {{hero.specialAbility}}
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <router-outlet></router-outlet>
</div>
